BASE_URL=https://esps-fb-jp.fujifilm.com/iq/timeline
CSV_PATH=./data/riqd_serial.csv
CSV_OUTPUT=
HEADLESS=true
SLOW_MO_MS=0
DEFAULT_TIMEOUT_MS=30000
STORAGE_STATE_PATH=./storageState.json
SESSION_INFO_PATH=./.riqd-session.json

